
<div class="row ">
  <div class="col s12 m12">
    <div class="col s4 m4"></div>
    <div class="col s4 m4">
      <div class="row center">
        <a onclick="goBack()" class="btn-floating btn-small waves-effect waves-light blue left"><i class="material-icons">subdirectory_arrow_left</i></a>
        <div class="card">
          <br />
            <div class="card-content">
              <p class="left flow-text"><%= title %></p>
            <div class="row">
                 <form class="col s12 ">
                  <br /> <br />
                  <div class="row">
                    <div class="input-field col s3">
                      <input  id="estabelecimento" type="text" class="validate">
                      <label for="estabelecimento">Número</label>
                    </div>
                    <div class="input-field col s4">
                      <input id="cnpj" type="text" class="validate">
                      <label for="cnpj">Tipo</label>
                    </div>
                    <div class="input-field col s5">
                      <input id="validade" type="text" class="validate">
                      <label for="validade">Validade do <%= type %></label>
                    </div>
                   
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate">
                      <label for="email">Observações</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="endereco" type="text" class="validate">
                      <label for="endereco">Local da entrega</label>
                    </div>
                  </div>
                  <button type="submit" class="btn  right"><i class="material-icons">save</i></button>
                </form>
              </div>
            </div>
          </div>
        <br />
      </div>
    </div>

    <div class="col s4 m4"></div>
  </div>
 
</div>
