
<div class="row ">
  <div class="col s12 m12">
    <div class="col s4 m4"></div>
    <div class="col s4 m4">
      <div class="row center">
        <a href="/" class="btn-floating btn-small waves-effect waves-light black left"><i class="material-icons">home</i></a>
        <div class="card">
            <div class="card-content">
              <br />
              <p class="left flow-text">Rodapé do PDF</p>
            <div class="row">
                 <form class="col s12 ">
                  <br /> <br />
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="estabelecimento" id="estabelecimento" type="text" class="validate">
                      <label for="estabelecimento">Header</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="cnpj" type="text" class="validate">
                      <label for="cnpj">CNPJ F</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="cnpj" type="text" class="validate">
                      <label for="cnpj">CNPJ ou CPF</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="telfone" type="text" class="validate">
                      <label for="telfone">telfone</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="endereco" type="text" class="validate">
                      <label for="endereco">Endereço</label>
                    </div>
                  </div>
                  <button type="submit" class="btn  right"><i class="material-icons">save</i></button>
                </form>
              </div>
            </div>
          </div>
        <br />
      </div>
    </div>

    <div class="col s4 m4"></div>
  </div>
 
</div>
