
<div class="row ">
  <div class="col s12 m12">
    <div class="col s3 m3"></div>
    <div class="col s6 m6">
      <div class="row center">
        <a href="/" class="btn-floating btn-small waves-effect waves-light black left"><i class="material-icons">home</i></a>
        <div class="card">
            <div class="card-content">
              <br />
              <p class="left flow-text">Representante</p>
            <div class="row">
                 <form class="col s12 ">
                  <br /> <br />
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">assignment_ind</i>
                      <input placeholder="seu lindo nome" id="nome" type="text" value="<%= data.nome %> " style="padding-left: 10px;">
                      <label for="nome">Nome</label>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">email</i>
                      <input placeholder="email@email.com"  value="<%= data.email %> "style="padding-left: 10px;"id="email" type="email" style="padding-left: 10px;">
                      <label for="email">Email</label>
                    </div>

                    <div class="input-field col s12">
                      <i class="material-icons prefix">phone</i>
                      <input placeholder="48 99999 - 9999" id="telefone" value="<%= data.telefone %> " type="text" style="padding-left: 10px;">
                      <label for="telefone">Telefone</label>
                    </div>
                    
                  </div>
                  <button type="submit" id="createFooter" class="btn  right"><i class="material-icons">save</i></button>
                </form>
              </div>
            </div>
          </div>
        <br />
      </div>
    </div>

    <div class="col s4 m4"></div>
  </div>
 
</div>
