<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <a href="/" class="btn-floating btn-small waves-effect waves-light black left"><i class="material-icons">subdirectory_arrow_left</i></a>
       <br />
      <blockquote>
      <p class="header  black-text flow-text" style="margin-bottom: -10px; ">OrcPed 0012</p>
      &nbsp;&nbsp;<small >Ultimo OrcPed 0012</small>
      <p class="header  black-text flow-text" style="margin-top: -5px; ">Tota de OrcPed  15 </p>
      <a href="editOrcPed?id=123&action=create&type=Pedido" class="waves-effect waves-light btn blue"><i class="material-icons left ">add_circle_outline</i> Pedido</a>&nbsp; ou &nbsp;
      <a href="editOrcPed?id=123&action=create&type=Orçamento" class="waves-effect waves-light btn red"><i class="material-icons left ">add_circle_outline</i> Orçamento</a>

    </blockquote>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <h3>Pedidos e Orçamentos</h3><br />
        <table>
          <thead>
            <tr>
                <th>Número</th>
                <th>Tipo</th>
                <th>Qtd. Itens</th>
                <th>Valor Total</th>
                <th>Opções</th>
            </tr>
          </thead>
  
          <tbody>
           
            <tr>
              <td>001</td>
              <td>Pedido</td>
              <td>76</td>
              <td>R$ 1.250,36</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
                <a href="editOrcPed?id=123&action=editar&type=Pedido" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">edit</i></a>
                <a href="listItemOrcPed?id=123&type=Pedido" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">add</i></a>
                <a class="btn-floating btn-small waves-effect waves-light teal"><i class="material-icons">picture_as_pdf</i></a>

              </td>
            </tr>
           
          </tbody>
        </table>       
      </div>

    </div>
    <br><br>
  </div>
