<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <a href="/" class="btn-floating btn-small waves-effect waves-light black left"><i class="material-icons">subdirectory_arrow_left</i></a>
       <br />
      <blockquote>
      <p class="header  black-text flow-text"> OrcPed núm.: 0012</p>
      <p class="header  black-text" style="margin-top: 0px; ">Nome da PF/ PJ </p>
      <p class="header  black-text" style="margin-top: -10px; ">Tota de de itens  15 </p>
      <p class="header  black-text " style="margin-top: -10px; ">Valor Total R$ 00.00 </p>
      <a href="editItemOrcPed?id=123&action=create" class="waves-effect waves-light btn blue"><i class="material-icons left ">add_circle_outline</i> Adcionar</a>
    </blockquote>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <h3>Pedidos e Orçamentos</h3><br />
        <table>
          <thead>
            <tr>
                <th>Qtd</th>
                <th>Valor Unitário</th>
                <th>Valor Total</th>
                <th>Descrição</th>
                <th>Opções</th>
            </tr>
          </thead>
  
          <tbody>
           
            <tr>
              <td>15</td>
              <td>10</td>
              <td>R$: 150</td>
              <td>Lorem ipsum dolor sit amet consectetur [...]</td>
              <td>
                <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
                <a href="editItemOrcPed?id=123&action=editar"  class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">edit</i></a>

              </td>
            </tr>
           
          </tbody>
        </table>       
      </div>

    </div>
    <br><br>
  </div>
